<br>
<body>
     
<div class="header">

</div>

<div class="container">
   
   <div id="about" class="about">
      <div class="left">
         <h1>About us</h1>
         <hr>
         <p>yourMechanic- - company that is commited to delivering innovative mechanic services in the marketplace. The company offers full body painting,engine repair and inspecting. It also offers reliable and affordable quick repairs.we offer quality and value that results in complete customer satisfaction.</p>
         <p>Freedom and flexibility are just two of the reasons drivers choose yourMechanic-. They also flock to this site because of how easy it is to use and its long history in the tech-enabled motorcare services. If it seems like a good fit, send a message through the site to secure also a job.
             
             OurMechanics are available for full- and part-time jobs, as well as live-in repair, daytime repair, overnight repair, and last-minute repairs. There’s also an option for special discount repairs.
             </p>
      </div>
      <div class="right">
         <img src="https://image.winudf.com/v2/image/Y29tLnVsdHJhNGtXYWxscGFwZXJzX3NjcmVlbl83XzE1MjY1OTAzOTFfMDg2/screen-7.jpg?fakeurl=1&type=.webp">
      </div>
      <div class="clear"></div>
   </div>
   
   
   
   <div class="mission">
     
      <div class="left">
      
         <img src="https://i.pinimg.com/736x/7f/1b/ad/7f1bad8f1f5f1464cc9ef3ddfa2c8a9f.jpg">
      </div>
        
        <div class="right">
         <h1>Mission Statement</h1>
         <hr>
         
         At yourMechanic-, we’re committed to providing the highest quality of commercial mechanic servives available by exceeding the expectations of our clients. It is our wish to create and maintain prosperous and enjoyable environments where performance can thrive.
      </div>
      <div class="clear"></div>
      
   </div>

   <div class="team">
      <h1> Our Team<hr></h1>
          
          
          
      <div  class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">M</h1>
         </div>
         <h2>Daniel Njoroge</h2>
         <h4>Technical Lead</h4>
         <p>Backend developer.</p>
      </div>
          
          
          
      <div class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">C</h1>
         </div>
         <h2>Sieva Musyoka</h2>
         <h4>Scrum master</h4>
          <p>Backend developer.</p>
      </div>
          
          
          
      <div class="card">
         <div class="circle-container">
            <h1 style="color:#fff;">R</h1>
         </div>
         <h2>Caleb Langat</h2>
         <h4>Software engineer</h4>
          <p>Backend developer.</p>
      </div>
          
          
          
      <div class="card">
        <div class="circle-container">
            <h1 style="color:#fff;">B</h1>
         </div>
         <h2>Augustine Mweteri</h2>
         <h4>Software engineer</h4>
          <p>Front-end developer.</p>
      </div>
          
        
          
          
      
          
   </div>
  
   
</div>

</body>
   
