<div class="container-fluid ">
    <nav class="navbar navbar-expand-lg">
       <p class="line1"><strong style="font-size: 2.5rem;">"LET US<br><br> TAKE CARE<br><br>OF YOUR CAR<br><br>IN WAYS THAT WILL AMAZE YOU"</strong></p>
      
    </nav>
    <h3 style="color: white;"><marquee><b><em >"So that you can enjoy driving your car".</em></b></marquee></h3>
    </div>
    <div class="container">
        <h2 class="line2" style="color: black;">Avg.Customer Ratings</h2>
        <h6 style="font-size: 2rem;" class="stars">
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked "></span><br>
          <p class="line3">Over 700,000 Reviews</p>
         
        </h6><br>
    </div>
    <div class="container">
        <hr >
        <h2 style="text-align: center;" class="line3"><strong>yourMechanic Popular Services</strong></h2>

    </div>
     
   <div class="container1">

    
    <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
        <img class="img-fluid" src="https://wallpapercave.com/wp/jpxQlJz.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title"><b>Full body paint</b></h5>
          
          <h6>Preference</h6>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
        </div>
        </div>
        <div  class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
            <img class="img-fluid" src="https://www.lifewire.com/thmb/sr4Mld-YZbmx44DoBDsm4-L2qwM=/3000x1687/smart/filters:no_upscale()/GettyImages-461214964-ed453fdb624143a19f2b759dfc0349eb.jpg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title"><b>Stereo Setup</b></h5>
              
              <h6>Preference</h6>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
            </div>
            </div>
            <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
                <img class="img-fluid" src="https://www.cashcarsbuyer.com/wp-content/uploads/2020/04/Engine-Repair--1200x900.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title"><b>Engine Repair</b></h5>
                  
                  <h6>Preference</h6>
                  <span class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
                  
                </div>
                </div>
          </div>



             <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Welcome To yourMechanic Auto Services.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="palace">
              <!-- Name -->
              <select class="form-select"  required aria-label="Default select example">
                <option selected>select yout Area</option>
                <option id="karen" name="pizz" value="1" selected>karen</option>
                <option id="westlands" name="pizz" value="2" selected>westlands</option>
                <option id="rongai" name="pizz" value="3" selected>rongai</option>
                <option id="syokimau" name="pizz" value="4" selected>syokimau</option>
                <option id="kitengela" name="pizz" value="5" selected>kitengela</option>
                <option id="kileleshwa" name="pizz" value="6" selected>kileleshwa</option>
                <option id="kitusuru" name="pizz" value="7" selected>kitusuru</option>
                <option id="parklands" name="pizz" value="8" selected>parklands<option>
              </select>
              <!-- size -->
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"><b>Choose your preference time;</b></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="small" value="small" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                  morning-800
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="medium"  value="medium" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    midday-1000
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="pizza" id="large" value="large" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    evenings-1500
                  </label>
                </div>
              </div>
               <!--crust-->
               <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Choose Fixing </b></label>
                <label for="recipient-name" class="col-form-label"><b>Extras</b></label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="crispy" value="crispy" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                  Brake_work-100
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="stuffed" value="stuffed"checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Battery_replacement-100
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="crusty" id="gluten_free" value="gluten_free" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    inspecting-100
                  </label>
                </div>
               </div>
               <!--Toppings-->
               <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Choose extra work</b></label>
                <label for="recipient-name" class="col-form-label"><b>ings</b>
                </label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="pepperoni"value="pepperoni" checked>
                  <label class="form-check-label" for="flexRadioDefault1">
                    Wheel_Align/balance-50
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="supreme" value="supreme"  checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    Engine_tune up-50
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="toppings" id="hawaiian" value="hawaiian"   >
                  <label class="form-check-label" for="flexRadioDefault2">
                    Car_wash-50
                  </label>
                </div>
                <!-- quantity -->
                <div>
                  <h6>Number of Mechanics</h6>
                  <input id="number" name="quantity" type="number" min="1" required>
                </div>
               </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
               <button id="add" type="submit" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Click to Add</button>
              </div>
          </form>
        </div>
       
      </div>
    </div>
  </div>


  <!-- Modal checkout -->



        