<div class="container-fluid ">
    <nav class="navbar navbar-expand-lg">
       <p class="line1"><strong style="font-size: 2.5rem;">"LET US<br><br> TAKE CARE<br><br>OF YOUR CAR<br><br>IN WAYS THAT WILL AMAZE YOU"</strong></p>
      
    </nav>
    <h3 style="color: white;"><marquee><b><em >"So that you can enjoy driving your car".</em></b></marquee></h3>
    </div>
    <div class="container">
        <h2 class="line2" style="color: black;">Avg.Customer Ratings</h2>
        <h6 style="font-size: 2rem;" class="stars">
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked"></span>
          <span style="font-size: 2rem;" class="fa fa-star checked "></span><br>
          <p class="line3">Over 75,000,000 Reviews</p>
        </h6><br>
    </div>
    <div class="container">
        <hr >
        <h2 style="text-align: center;" class="line3"><strong>yourMechanic Popular Services</strong></h2>

    </div>
     
   <div class="container1">

    
    <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
        <img class="img-fluid" src="https://wallpapercave.com/wp/jpxQlJz.jpg" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title"><b>Full body paint</b></h5>
          
          <h6>Rating</h6>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span  class="fa fa-star checked"></span>
          <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
        </div>
        </div>
        <div  class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
            <img class="img-fluid" src="https://www.lifewire.com/thmb/sr4Mld-YZbmx44DoBDsm4-L2qwM=/3000x1687/smart/filters:no_upscale()/GettyImages-461214964-ed453fdb624143a19f2b759dfc0349eb.jpg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title"><b>Stereo Setup</b></h5>
              
              <h6>Rating</h6>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span  class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
            </div>
            </div>
            <div class="card  shadow-lg p-0 mb-5 bg-body rounded "  style="width: 18rem;">
                <img class="img-fluid" src="https://www.cashcarsbuyer.com/wp-content/uploads/2020/04/Engine-Repair--1200x900.jpg" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title"><b>Engine Repair</b></h5>
                  
                  <h6>Rating</h6>
                  <span class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span  class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <button style="float:right;" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="#">Make order</button>
                </div>
                </div>
          </div>
