
<body>
    <section  class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2>What we <span>Offer</span></h2>
                        <h4>Let us take care of your car
                            in ways that will amaze you</h4>
                    </div>
                </div>
            </div>
                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-pen-fancy"></i>
                            <h4>Full body paint</h4>
                            <p>
                                yourMechanic now allows Kenyans to book custom fully body vehicle paint job options and connects them with trusted mechanics from their comfort of the own home whichever destination they are at. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-dharmachakra"></i>
                            <h4>Engine Repair</h4>
                            <p>
                                Our easy-to-use preference choices performance tools  allow you to refine your vehicle. You can search by distance or city and sort by options such as hourly pay rate,skills,moree than one mechanic and see profiles with documents. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tasks"></i>
                            <h4>Stereo Setup</h4>
                            <p>
                                Stereo Setup, we have adopted quality assured sound systems and excellent audio. All our staff are trained on how to install various types of audio sysytems as well as maintenance. 
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tachometer-alt"></i>
                            <h4>Products</h4>
                            <p>
                                we use latest tools and machines that will give longevity to your vehicle lifespan. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-recycle"></i>
                            <h4>Our promises</h4>
                            <p>
                                We want to ensure that you are 100% happy and satisfied with our service. If you are unhappy in any way, our support team is on standby ready to help.
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-headset"></i>
                            <h4>24/7 Support</h4>
                            <p>
                                we operate 24/7. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
        </div>
    </section>
</body>

