<h1> Testimonials</h1>
<div class="container">
  <input type="radio" name="nav" id="first" checked/>
  <input type="radio" name="nav" id="second" />
  <input type="radio" name="nav" id="third" />
  
  <label for="first" class="first"></label>
<label for="second"  class="second"></label>
<label for="third" class="third"></label>
 
  <div class="one slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> “Great place to get your car repaired. They are honest, trusted, and have competitive pricing. I have taken several cars there to get fixed over the years and every time I’ve gone there they have been great to work with.” <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjAk2sVHCaf9t5qE8jvVCEJ5ZgGIWkq-ni7A&usqp=CAU" width="170" height="130" />
    <h2>Steve Kruger</h2>
    <h6>Driver</h6>
  </div>
  
  <div class="two slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> “I took my truck in for some front end work and it was fixed the next day. The staff was very professional and friendly. The price was pretty much what you’d expect, but it is worth it for the peace of mind.“  ... <a href="#"> read more</a><span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSauh53nnaXM5696_3HC6RFk6x40iqr5vmVrg&usqp=CAU" width="170" height="130" />
    <h2>John Doe</h2>
    <h6>Truck Driver</h6>
  </div>
  
  <div class="three slide">
    <blockquote>
      <span class="quotes leftq"> &ldquo;</span> “yourMechanic has become our service center of choice. We almost always interact with the owner or his son. They are capable and kind. They always let us know when service is not needed. Highly recommended.”  <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZZscudcAzpMU6ihvUUaEZLXvQdZr7NQh7rA&usqp=CAU" width="170" height="130" />
    <h2>Steve Stevenson</h2>
    <h6>Uber Driver</h6>
  </div>
  
  
</div>



