<div class="navbar navbar-default">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYbyOO26-DNz4NmtbS6GBCzQ_bRSR89Wn2GA&usqp=CAU" width="70" height="60" class="d-inline-block align-top" alt=""><br>
                <a style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="navbar-brand" href="#"><strong>yourMechanic</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><strong>HOME</strong></a>
                  </li>
                  <li  class="nav-item">
                    <a class="nav-link active" href="#about"><strong>ABOUT</strong></a>
                  </li>
                  <li  class="nav-item">
                    <a class="nav-link active" href="#end"><strong>CONTACT</strong></a>
                  </li>
                 
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>SERVICES</strong>
                      </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Full body paint</a></li>
                      <li><a class="dropdown-item" href="#">Stereo Setup</a></li>
                    <li><a class="dropdown-item" href="#">Engine Repair</a></li>
                    </ul>
                  </li>
                  <form  style="margin-left: 5rem;" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button  class="btn btn-outline-success" type="submit">Search</button>
                  </form>
                  <li style="margin-left: 10rem;" class="nav-item">
                    <a href="#" class="nav-link active">SIGN UP</a>
                  </li>
                  <li style="margin-left: 0.4rem;"  class="nav-item">
                    <a href="#" class="nav-link active">LOG IN</a>
                  </li>
                  
                </ul>
               
              </div>
            </div>
          </nav>
    </div>
</div>

